  .completed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px;

    img {
        height:250px;
        width:250px
    }
  }